.login {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 60px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-form h2 {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.login-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.login-form label input {
  border: none;
  border-bottom: 2px solid #e0e0e0;
  padding: 6px;
  height: 38px;
}
