.wrapper {
  display: flex;
  height: 100vh;
  background-image: url(../../../public/img/bg-landing.jpg);
}

.landing-con {
  display: flex;
  max-width: 1200px;
  justify-content: center;
  margin: 80px auto 0;
  flex: 1 1;
  height: 85vh;
  gap: 40px;
}

.left-side .hero-img {
  background-image: url(../../../public/img/Hero.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70%;
  margin: 20px;
  border-radius: 20px;
  border: 4px solid #0e4a32e0;
  box-shadow: 0 0 80px 30px rgba(96, 255, 189, 0.12);
}

.left-side p {
  color: aliceblue;
}

.nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  z-index: 10;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.right-nav li a {
  font-size: 14px;
  font-weight: 500;
  color: #a7beb3;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.right-nav li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 0.3s ease;
}

.right-nav li a:hover {
  color: var(--color-primary);
}

.right-nav li a:hover::after {
  width: 100%;
}

.nav-logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.nav-logo p {
  color: white;
  font-weight: bold;
}

.nav img {
  width: 30px;
}

.right-side,
.left-side {
  color: white;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side img {
  width: 40px;
  margin-bottom: 4px;
}

.right-side h4 {
  color: white;
}

.right-side h1 {
  font-size: 45px;
}

.right-side p,
.features li {
  color: #a7beb3;
}

.features {
  display: flex;
  gap: 30px;
  margin: 0 16px;
  font-size: 14px;
}

.features li::marker {
  color: var(--color-primary);
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: left;
  align-items: start;
}

.btn-start {
  padding: 12px 60px;
  margin-top: 20px;
  color: var(--color-dark-primary);
  font-weight: 600;
}
.btn-start:hover {
  color: white;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .left-side {
    display: none;
  }

  .right-side {
    align-items: center;
    text-align: center;
  }
}
