.boxCard {
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: #f2f2f2;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.textPart {
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: left;
}

.iconPart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconPart svg {
  align-items: center;
  background-color: rgb(232, 247, 242);
  color: rgb(22, 163, 74);
  display: flex;
  flex-shrink: 0;
  height: 45px;
  justify-content: center;
  width: 45px;
  border-radius: 0.6rem;
  padding: 9px;
}

.subtitle {
  font-size: 14px;
  color: #888;
}

.mainValue {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.title {
  font-size: 14px;
  color: #555;
}

.Category-value {
  font-size: 16px;
}
.category-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/*chart css*/
.chartHeader {
  padding: 20px;
  padding-bottom: 40px;
}
