.boxCard {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: #f2f2f2;
  width: 350px;
}

.subtitle {
  font-size: 14px;
  color: #888;
}

.mainValue {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.title {
  font-size: 16px;
  color: #555;
}
