.card {
  background-color: var(--bg-light-green2);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #d5d5d54c;
  margin-top: 1.5rem;
  justify-content: start;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.card h4 {
  margin-bottom: 12px;
  font-size: 1.2rem;
  color: var(--color-text-secondary);
}

.card p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: #0e5432;
}

.info .row {
  display: flex;
  align-items: left;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #6f6f6f;
  font-size: 12px;
  align-items: center;
}

.icon {
  color: var(--color-primary);
}
