nav {
  background-color: var(--color-dark-primary);
  min-height: 80px;
}

.navCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.logo-icon {
  width: 50px;
  padding: 14px;
  background-color: #0b835b63;
  border-radius: 14px;
}

.logo-con {
  display: flex;
  gap: 8px;
  align-items: center;
}
.logo-con h2 {
  color: #f1faf7f2;
  font-weight: 600;
  font-size: 18px;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  color: #eaeaea;
  background-size: 200% 100%;
}

.right-nav {
  display: flex;
  gap: 12px;
  align-items: center;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #edfaf1;
  font-size: 14px;
}
