.nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  z-index: 10;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 28px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.right-nav li a {
  font-size: 14px;
  font-weight: 500;
  color: #a7beb3;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.right-nav li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 0.3s ease;
}

.right-nav li a:hover {
  color: var(--color-primary);
}

.right-nav li a:hover::after {
  width: 100%;
}

.nav-logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.nav-logo p {
  color: #f1faf7f2;
  font-weight: 600;
  font-size: 18px;
}

.nav img {
  width: 50px;
  padding: 14px;
  background-color: #0b835b63;
  border-radius: 14px;
}
