.trans-con {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  box-sizing: border-box;
  margin-top: 40px;
}

.main-con {
  flex: 2;
  min-width: 300px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.right-side {
  flex: 1;
  min-width: 250px;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
