@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

/*main css */
/*(Colors, fonts, layout)
========================= */
:root {
  --color-bg: #ffffff;
  --color-text: #030419;
  --color-text-secondary: #8d909f;
  --color-primary: #4ccf7f;
  --color-dark-primary: #0e5432;
  --font-base: "Sora", sans-serif;
  --max-width: 1200px;
  --radius: 8px;
}

/* =========================
   3. Body & Typography
========================= */
body {
  font-family: var(--font-base);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.4;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  font-weight: 600;
}

p {
  color: var(--color-text-secondary);
}

/* =========================
   4. Basic Elements
========================= */
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

.basic-link {
  color: white;
}
.btn-primary {
  background-color: var(--color-primary);
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  padding: 6px 20px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  border: 1px solid var(--color-primary);
}
.btn-primary:hover {
  background-color: transparent;
  border-color: #ffffff61;
}
.btn-out-line {
  background-color: transparent;
  border-radius: 200px;
  display: flex;
  align-items: center;
  gap: 8px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  padding: 6px 20px;
  font-size: 14px;
  color: white;
  border: 1px solid #ffffff61;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.btn-out-line:hover {
  border-color: var(--color-dark-primary);
}
.Boxshadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/* =========================
   5. Layout Helpers
========================= */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
}
a {
  color: #0e5432;
  font-size: 14px;
}

.section {
  padding: 4rem 0;
}
p {
  font-size: 15px;
}

/* =========================
   6. Utility Classes
========================= */
.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* =========================
   7. Buttons (Basic)
========================= */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: var(--radius);
  background-color: var(--color-primary);
  color: #ffffff;
  font-weight: 500;
  -webkit-border-radius: var(--radius);
  -moz-border-radius: var(--radius);
  -ms-border-radius: var(--radius);
  -o-border-radius: var(--radius);
}

.btn:hover {
  opacity: 0.9;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
textarea:hover,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  transition: all 0.3s ease;
  outline: none;
  border: 1px solid white;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
textarea:hover,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  background-color: #eefdf3;
  border-bottom-color: var(--color-primary);
}

.btn-submit {
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.btn-submit:hover {
  color: white;
  background-color: var(--color-dark-primary);
}
.link:hover {
  text-decoration: underline;
}

/*loading spinner*/
.spinner {
  border: 3px solid #f3f3f3;
  /*لونالخلفية*/
  border-top: 3px solid var(--color-dark-primary);
  /*اللونالمتحرك*/
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.today-date {
  color: var(--color-text-secondary);
  font-size: 15px;
}
