/* ===== Media Queries from large to small using max-width ===== */

/* Extra large screens */
@media (max-width: 1600px) {
}
/* Large screens */
@media (max-width: 1440px) {
}

/* Medium-large screens */
@media (max-width: 1200px) {
}

/* Medium screens */
@media (max-width: 1024px) {
}

/* Small screens */
@media (max-width: 768px) {
  .trans-con-responsive {
    flex-direction: column; /* Default standard */
  }
}

/* Extra small screens */
@media (max-width: 480px) {
}
